<div class="container-fluid places my-4">
  <div class="row">
    <div class="col">
      <h2>
        <span class="title">Place to</span> Visit
      </h2>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col place1">
      <span class="d-block">
        Arab Street
      </span>
      <span class="d-block">
        Singapure
      </span>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="place2 p-2">
            <span>
              Art science museum
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
          <div class="place3 p-2">
            <span>
              Fountain
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
